{% extends "blog/base.html" %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<h1>Политика конфиденциальности</h1>

<p></p>

<h2>Собираемая информация</h2>
<p><i>Мы собираем следующие виды информации:</i></p>
<ul>
    <li>Личные данные: Имя, адрес, номер телефона, адрес электронной почты и другие контактные данные.</li>
    <li>Информация о недвижимости, которую вы ищете или продаете, включая характеристики и предпочтения.</li>
    <li>Дополнительная информация: Информация, которую вы предоставляете нам в ходе коммуникации, включая запросы,
        отзывы или вопросы.
    </li>
    <li>Информация о посещении сайта: Информация о вашей активности на нашем веб-сайте, включая файлы cookie, IP-адреса
        и данные о браузере.
    </li>
</ul>

<h2>Использование информации</h2>
<p><i>Мы используем ваши данные для следующих целей:</i></p>
<ul>
    <li>Предоставление услуг и поддержки в сфере недвижимости, включая поиск, продажу и аренду недвижимости.</li>
    <li>Связь с вами по вопросам, связанным с вашими запросами или сделками.</li>
    <li>Улучшение качества наших услуг и нашего веб-сайта.</li>
    <li>Соблюдение законных обязательств и требований.</li>
    <li>Рассылка информации о новых предложениях, акциях и событиях (по вашему согласию).</li>
    <li>Связь с вами по вопросам, связанным с вашими запросами.</li>
</ul>

<h2>Защита информации</h2>
<p><i>Мы принимаем меры безопасности для защиты ваших данных от несанкционированного доступа, соблюдаем стандарты безопасности и регулярно проверяем и улучшаем наши системы.</i></p>

<h2>Разглашение информации</h2>
<p><i>Мы можем разглашать вашу информацию следующим сторонам:</i></p>
<ul>
    <li>Продавцам, арендодателям или агентам недвижимости в рамках сделок, связанных с вашими запросами.</li>
    <li>Законным органам в соответствии с законодательством и судебным решением.</li>
</ul>


<h2>Ваши права</h2>
<p><i>У вас есть право:</i></p>
<ul>
    <li>Запрашивать доступ к вашим личным данным.</li>
    <li>Исправлять или обновлять ваши личные данные.</li>
    <li>Удалять ваши личные данные.</li>
    <li>Отказаться от рассылки маркетинговой информации.</li>
</ul>

<h2>Согласие</h2>
<p><i>Используя наши услуги и веб-сайт, вы соглашаетесь с этой политикой конфиденциальности и соглашаетесь на сбор
    и обработку ваших данных.</i></p>

<h2>Изменения в политике конфиденциальности</h2>
<p><i>Мы можем пересматривать и обновлять эту политику конфиденциальности по мере необходимости. Мы уведомим вас о любых существенных изменениях.
</i></p>

{% endblock %}