{% extends "blog/base.html" %}

{% block title %}Промокоды{% endblock %}

{% block content %}
<h1>Промокоды</h1>

<table>
    <thead>
    <tr>
        <th>Код</th>
        <th>Описание</th>
        <th>Активен</th>
        <th>Дата создания</th>
        <th>Дата архивации</th>
    </tr>
    </thead>
    <tbody>
    {% for promocode in promocodes %}
    <tr>
        <td>{{ promocode.code }}</td>
        <td>{{ promocode.description }}</td>
        <td>{% if promocode.is_active %}Да{% else %}Нет{% endif %}</td>
        <td>{{ promocode.created_date }}</td>
        <td>{{ promocode.archived_date }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Промокоды отсутствуют.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}