{% extends "blog/base.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отзывы</title>
</head>
<body>
<h1>Отзывы</h1>
<ul>
    <!-- Вывод списка отзывов -->
    {% for review in reviews %}
    <li>
        <strong>{{ review.user.username }}</strong>
        <p> Оценка: <span itemprop="ratingValue">{{ review.rating }}</span></p>
        <p>Отзыв: {{ review.text }}</p>
        <p>Дата:
            <time datetime="{{ review.date|date:'Y-m-d\TH:i:s\Z' }}">{{review.date}}</time>
        </p>
    </li>
    {% endfor %}
</ul>

<!-- Проверка, авторизован ли пользователь -->
{% if user.is_authenticated %}
<!-- Форма для добавления отзыва (скрыта по умолчанию) -->
<a href="{% url 'blog:add_review' %}">
    <button>Добавить свой отзыв</button>
</a>
{% else %}
<!-- Кнопка для перехода к окну регистрации -->
<a href="{% url 'blog:login' %}">Авторизуйтесь, чтобы оставить отзыв</a>
{% endif %}
</body>
{% endblock %}